<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Central</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
</head>
<body>

<h1 data-text="Game Central">Game Central</h1>

<div class="container">
    <div class="grid-container">
        {% for game in videogames %}
        <div class="game-card">
            <a href="{{ url_for('game_detail', nome=game.nome|lower|replace(' ', '') ) }}">
                <img src="{{ game.image_url }}" alt="{{ game.nome }}">
                <div class="game-info">
                    <p><strong>Anno:</strong> {{ game.anno }}</p>
                    <p><strong>Genere:</strong> {{ game.genere }}</p>
                    <p><strong>Voto:</strong> {{ game.voto }}</p>
                    <p><strong>Prezzo:</strong> €{{ game.prezzo }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
